@import "main.scss";

@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/IRANSansWeb-Light.eot');
    src: url('IRANSansWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/IRANSansWeb-Light.woff2') format('woff2'),
        url('../fonts/IRANSansWeb-Light.woff') format('woff'),
        url('../fonts/IRANSansWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Roboto';
}


body {
    @include width(100%);
}

.nav {
    @include width(100%);
    @include backgroundImg;
    padding: 0;
    @include flex(center, none, none, none);
    position: fixed;
    z-index: 999;
}

.golestan_logo {
    @include width(143px);
    height: 88px;
    @include margin(6px, none, 6px, none);
}

.nav_row1 {
    padding: 0;
    @include width(100%);
    @include flex(end,none,none,none);
}

.nav_col1 {
    padding: 0;
    @include width(100%);
    @include flex(center, center, none, none);
}

.nav_col2 {
    @include flex(none, center, none, none);
    @include width(fit-content)
}

.nav_col3 {
    @include flex(center, center, row, none);

    ul {
        @include flex(center, center, none, none);

        li {
            font-family: 'IRANSansWeb';
            list-style-type: none;
            @include margin(none, 20px, none, 20px);
            color: #AFB2B4;
            @include font(16px, none);

            &:hover {
                cursor: pointer;
                transition: all 300ms ease 0s;
                color: #ede7e7
            }
        }

        .seprator{
            &:hover{
                cursor: default;
                color:  #AFB2B4;
            }
        }
    }
}

.nav_dropdown_btn_icon {
    @include font(30px, none);
    color: white;
}

.golestan_tea_container2 {
    transform: translateY(181px);
    background-image: linear-gradient(to bottom, #FFFFFF, #D3D3D3);
}

.golestan_tea_container {
    transform: translateY(181px);
    background-image: linear-gradient(to bottom, #FFFFFF, #D3D3D3);
}

.golestan_tea_container2_col1 {
    @include flex(center, none, none, none);
}

.golestan_tea_container_col1 {
    @include flex(center, none, none, none);
}

.golestan_tea_container2_col2 {
    h1 {
        @include font(35px, 400);
        color: red;
        @include margin(none, none, none, 25px);
    }

    p {
        @include font(25px, 400);
        @include margin(none, none, 40px, 23px);
        color: #7C7D7E;
    }
}

.golestan_tea_container_col2 {
    h1 {
        @include font(35px, 400);
        color: red;
        @include margin(none, none, none, 25px);
    }

    p {
        @include font(25px, 400);
        @include margin(none, none, 40px, 23px);
        color: #7C7D7E;
    }
}

.line_1 {
    @include margin(195px, auto, 0px, auto);
    @include width(95%);
    align-self: center;
    height: 1px;
    background-color: #D3D3D3;
}

.what_about_golestan_col1 {
    h1 {
        @include margin(80px, none, none, 10px);
        @include font(22px, 500);
        color: red;
    }

    p {
        @include margin(10px, none, none, 10px);
        @include font(18px, 400);
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }
}

.what_about_golestan2_col1 {
    h1 {
        @include margin(80px, none, none, 10px);
        @include font(22px, 500);
        color: red;
    }

    p {
        @include margin(10px, none, none, 10px);
        @include font(18px, 400);
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }
}

.strange_list_container {
    @include margin(100px, none, 130px, none);
    @include flex(center, center, none, none);
    padding: 0;

    .strange_list_container_row1 {
        @include width(100%);
        align-self: center;
        @include flex(center, center, row, nowrap);

        .strange_list_container_col1 {
            @include width(fit-content);
            @include margin(0px, 10px, 0px, 10px);
            @include flex(center, end, column, none);

            img {
                min-width: 168.7px;
            }

            p {
                @include margin(5px, 0px, 15px, 0px);
                min-width: 168.7px;
                text-align: center;
                color: #7C7D7E;
            }

            padding: 0;

            .strange_list_container_col1_line1 {
                min-width: 168.7px;
                height: 1px;
                background-color: #4a4a4a;
            }
        }

        .strange_list_container_col2 {
            @include width(fit-content);
            @include margin(0px, 10px, 0px, 10px);
            @include flex(center, end, column, none);

            img {
                min-width: 168.7px;
            }

            p {
                @include margin(5px, 0px, 15px, 0px);
                min-width: 168.7px;
                text-align: center;
                color: #7C7D7E;
            }

            padding: 0;

            .strange_list_container_col1_line2 {
                min-width: 168.7px;
                height: 1px;
                background-color: #4a4a4a;
            }
        }

        .strange_list_container_col3 {
            @include width(fit-content);
            @include margin(0px, 10px, 0px, 10px);
            @include flex(center, start, column, none);

            img {
                min-width: 168.7px;
            }

            p {
                @include margin(5px, 0px, 15px, 0px);
                min-width: 168.7px;
                text-align: center;
                color: #7C7D7E;
            }

            padding: 0;

            .strange_list_container_col1_line3 {
                min-width: 168.7px;
                height: 1px;
                background-color: #4a4a4a;
            }
        }

        .strange_list_container_col4 {
            @include width(fit-content);
            @include margin(0px, 10px, 0px, 10px);
            @include flex(center, start, column, none);

            img {
                min-width: 168.7px;
            }

            p {
                @include margin(5px, 0px, 15px, 0px);
                min-width: 168.7px;
                text-align: center;
                color: #7C7D7E;
            }

            padding: 0;

            .strange_list_container_col1_line4 {
                min-width: 168.7px;
                height: 1px;
                background-color: #4a4a4a;
            }
        }
    }
}

.line_2 {
    @include margin(40px, auto, 0px, auto);
    @include width(95%);
    align-self: center;
    height: 1px;
    background-color: #D3D3D3;
}

.line_22 {
    @include margin(40px, auto, 0px, auto);
    @include width(95%);
    align-self: center;
    height: 1px;
    background-color: #D3D3D3;
}

.img-rice {
    @include flex(center, none, none, none);
    overflow: hidden;
    @include margin(25px, none, none, 1px);

}

.image-rice {
    height: 241px;
}


.p-rice {
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    background-color: red;
    @include font(40px, none);
    direction: rtl;
    padding-right: 20px;
}


.rice_col1 {
    h1 {
        @include margin(50px, none, none, 10px);
        @include font(22px, 500);
        color: red;
    }

    .rice_p1 {
        @include margin(10px, none, none, 10px);
        @include font(18px, 400);
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }

    .rice_p2 {
        @include margin(20px, none, none, 5px);
        @include font(16px, none);
        @include width(fit-content);
        padding-top: 8px;
        padding-bottom: 8px;
        @include paddinglr(25px, 25px);
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
        &:hover{
            transition: all 300ms ease 0s;
            background-color: red;
            color: white;
            cursor: pointer;
        }
    }
}

.img-tea {
    @include flex(center, none, none, none);
    overflow: hidden;
    @include margin(90px, none, none, 1px);
}

.image-tea {
    height: 241px;
}

.p-tea {
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    background-color: red;
    @include font(40px, none);
    direction: rtl;
    padding-right: 20px;
}


.tea_col1 {
    h1 {
        @include margin(50px, none, none, 10px);
        @include font(22px, 500);
        color: red;
    }

    .tea_p1 {
        @include margin(10px, none, none, 10px);
        @include font(18px, 400);
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }

    .tea_p2 {
        @include margin(20px, none, none, 5px);
        @include font(16px, none);
        @include width(fit-content);
        padding-top: 8px;
        padding-bottom: 8px;
        @include paddinglr(25px, 25px);
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
        &:hover{
            transition: all 300ms ease 0s;
            background-color: red;
            color: white;
            cursor: pointer;
        }
    }
}



.img-pistachios {
    @include flex(center, none, none, none);
    overflow: hidden;
    @include margin(10px, none, none, 1px);
}

.image-pistachios {
    height: 241px;
}

.p-pistachios {
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    background-color: red;
    @include font(40px, none);
    direction: rtl;
    padding-right: 20px;
}


.pistachios_col1 {
    h1 {
        @include margin(50px, none, none, 10px);
        @include font(22px, 500);
        color: red;
    }

    .pistachios_p1 {
        @include margin(10px, none, none, 10px);
        @include font(18px, 400);
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }

    .pistachios_p2 {
        @include margin(20px, none, none, 5px);
        @include font(16px, none);
        @include width(fit-content);
        padding-top: 8px;
        padding-bottom: 8px;
        @include paddinglr(25px, 25px);
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
        &:hover{
            transition: all 300ms ease 0s;
            background-color: red;
            color: white;
            cursor: pointer;
        }
    }
}


.golestan_social {
    background-color: #105153;

    .golestan_social_row1 {
        .golestan_social_col1 {
            @include flex(center, baseline, row, none);
            padding-top: 250px;

            h6 {
                color: #009DA2;
                @include font(30px, 400);
                margin: 0;
            }

            p {
                color: #00D8DF;
                @include font(20px, 400);
                margin: 0;
                @include margin(none, none, none, 5px);
            }
        }

        .golestan_social_col2 {
            @include flex(center, center, column, none);
            padding: 0;

            .image-building {
                @include width(395px);
                height: 344px;
                transform: translateY(70px);
                box-shadow: -3px 3px 7px 0px rgba(0, 0, 0, 0.2);
            }
        }

    }
}


.line_3 {
    @include margin(30px, auto, 0px, auto);
    @include width(100%);
    align-self: center;
    height: 1px;
    background-color: #07787C;
}



.line_4 {
    @include width(100%);
    align-self: center;
    height: 20px;
    background-color: #E9D69F;
}

.golestan_charitable_col1 {
    h1 {
        @include margin(85px, none, none, 10px);
        @include font(22px, 500);
        color: red;
    }

    .golestan_charitable_p1 {
        @include margin(20px, none, none, 10px);
        @include font(18px, 400);
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }

    .golestan_charitable_p2 {
        @include margin(20px, none, none, 10px);
        @include font(16px, none);
        @include width(fit-content);
        padding-top: 8px;
        padding-bottom: 8px;
        @include paddinglr(25px, 25px);
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
        &:hover{
            transition: all 300ms ease 0s;
            background-color: red;
            color: white;
            cursor: pointer;
        }
    }
}

.golestan_footer_col1 {
    background-color: #EEEFEF;
    @include flex(center, none, row, none);
    margin-top: 65px;

    img {
        color: blue;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.golestan_footer_col2 {
    padding: 0;

    .line_5 {
        @include width(100%);
        align-self: center;
        height: 20px;
        background-color: #ED1C24;
    }
}

.golestan_footer_col3 {
    @include backgroundImg;
    padding-top: 10px;
    @include flex(none, center, column, none);

    p {
        color: #828991;
        @include margin(0px, auto, 0px, auto);

        &:hover {
            cursor: pointer;
            transition: all 300ms ease 0s;
            color: #D3D3D3
        }
    }

    .first_p1_p {
        @include margin(30px, auto, 0px, auto);
    }

    h6 {
        @include margin(5px, none, 8px, none);
        color: #ffffff;
    }
}

.line_6 {
    @include margin(25px, auto, 0px, auto);
    @include width(95%);
    height: 1px;
    background-color: #828991;
}

.line_7 {
    @include margin(0px, auto, 0px, auto);
    @include width(95%);
    height: 1px;
    background-color: #828991;
}

.golestan_footer_col4 {
    @include backgroundImg;
    padding-top: 10px;
    @include flex(none, center, column, none);

    p {
        color: #828991;
        @include margin(0px, auto, 0px, auto);
        &:hover {
            cursor: pointer;
            transition: all 300ms ease 0s;
            color: #D3D3D3
        }
    }

    .first_p1_p {
        @include margin(30px, auto, 0px, auto);
    }

    h6 {
        @include margin(5px, none, 8px, none);
        color: #ffffff;
    }
}

.golestan_footer_col5 {
    @include backgroundImg;
    padding-top: 10px;
    @include flex(none, center, column, none);

    p {
        color: #828991;
        @include margin(0px, auto, 0px, auto);
        &:hover {
            cursor: pointer;
            transition: all 300ms ease 0s;
            color: #D3D3D3
        }
    }

    .first_p1_p {
        @include margin(30px, auto, 0px, auto);
    }

    h6 {
        @include margin(5px, none, 8px, none);
        color: #ffffff;
    }
}

.golestan_footer_col6 {
    @include backgroundImg;
    padding-top: 10px;
    @include flex(none, center, column, none);

    p {
        color: #828991;
        @include margin(0px, auto, 0px, auto);
        &:hover {
            cursor: pointer;
            transition: all 300ms ease 0s;
            color: #D3D3D3
        }
    }

    .first_p1_p {
        @include margin(30px, auto, 0px, auto);
    }

    h6 {
        @include margin(5px, none, 8px, none);
        color: #ffffff;
    }
}


.golestan_footer_col7 {
    @include backgroundImg;
    padding-top: 10px;
    @include flex(none, center, column, none);

    .golestan_footer_col7_p1 {
        color: #9F9F9F;
        @include margin(35px, auto, 0px, auto);
    }

    .golestan_footer_col7_p2 {
        color: #7B7B7B;
        @include margin(0px, auto, 0px, auto);
        @include font(14px, none);
        padding-bottom: 45px;
    }
}

@media all and (min-width:768px) {
    .golestan_tea_container2_row1 {
        @include flex(none, none, row-reverse, none);
    }

    .golestan_tea_container_row1 {
        @include flex(none, center, row-reverse, none);
    }

    .golestan_tea_container2_col2 {
        @include flex(center, none, column, none);

        h1 {
            @include font(55px, 400);
            color: red;
            @include margin(none, none, none, 65px);
        }

        p {
            @include font(25px, 400);
            @include margin(none, none, 40px, 63px);
            color: #7C7D7E;
            text-align: start;
        }
    }

    .golestan_tea_container_col2 {
        @include flex(center, end, column, none);

        h1 {
            align-self: flex-start;
            @include paddinglr(8.125vw, 8.125vw)
        }

        .golestan_tea_container_col2_p2 {
            align-self: flex-start;
            @include font(14px, none);
            padding: 12px 24px 12px 24px;
            @include margin(none, none, none, 9.125vw);
            background-color: #FFFFFF;
            border-radius: 8px;
            &:hover {
                cursor: pointer;
                transition: all 300ms ease 0s;
                background-color: red;
                color: #ffffff
            }
        }

        .golestan_tea_container_col2_p1 {
            @include font(none, 400);
            font-size: 18px !important;
            @include margin(none, none, none, 23px);
            @include paddinglr(8.125vw, 8.125vw);
            color: #7C7D7E;
        }
    }

    .golestan_tea_container_col1 {
        @include flex(center, start, column, none);

        h1 {
            align-self: flex-start;
        }

        .golestan_tea_container_col_p2 {
            align-self: flex-start;
            @include font(14px, none);
            padding: 12px 24px 12px 24px;
            background-color: #FFFFFF;
            border-radius: 8px;
        }

        .golestan_tea_container_col_p1 {
            @include font(none, 400);
            font-size: 18px !important;
            @include margin(none, none, none, 23px);
            color: #7C7D7E;
        }
    }

    .image-rice {
        min-width: 1600px;
        height: 500px;
        margin-left: 0;
    }

    .image-tea {
        min-width: 1600px;
        height: 500px;
        margin-left: 0;
    }

    .image-pistachios {
        min-width: 1600px;
        height: 500px;
        margin-left: 0;
    }

    .p-rice {
        @include width(fit-content);
        padding: 50px 180px 30px 30px !important;
        color: rgb(255, 255, 255);
        background-color: red;
        @include font(40px, none);
        direction: ltr;
        padding-right: 20px;
        transform: translateY(-120px);
        @include margin(none, none, 30px, 20.125vw);
    }

    .rice {
        @include margin(-120px, none, none, none);
    }

    .line_22 {
        transform: translateY(40px);
    }

    .rice_col1 {
        @include paddinglr(29.125vw, 29.125vw);
    }

    .p-tea {
        @include width(fit-content);
        padding: 50px 180px 30px 30px !important;
        color: rgb(255, 255, 255);
        background-color: red;
        @include font(40px, none);
        direction: ltr;
        padding-right: 20px;
        transform: translateY(-120px);
        @include margin(none, none, 30px, 20.125vw);
    }

    .tea {
        @include margin(-120px, none, none, none);
    }

    .tea_col1 {
        @include paddinglr(29.125vw, 29.125vw);
    }

    .p-pistachios {
        @include width(fit-content);
        padding: 50px 180px 30px 30px !important;
        color: rgb(255, 255, 255);
        background-color: red;
        @include font(40px, none);
        direction: ltr;
        padding-right: 20px;
        transform: translateY(-120px);
        @include margin(none, none, 30px, 29.215vw);
    }

    .pistachios {
        @include margin(-120px, none, none, none);
    }

    .pistachios_col1 {
        @include paddinglr(29.125vw, 29.125vw);
    }

    .golestan_charitable_col1 {
        @include paddinglr(29.125vw, 29.125vw);
    }

    .what_about_golestan_col1 {
        @include paddinglr(29.125vw, 29.125vw);
    }

    .what_about_golestan2_col1 {
        @include paddinglr(18.125vw, 18.125vw);
    }

    .what_about_golestan_col2 {
        @include paddinglr(18.125vw, 18.125vw);
    }
}


@media all and (min-width:992px) {
    .golestan_logo {
        transform: translateY(50px);
        @include margin(none, none, none, 16.125vw);
    }

    .seprator {
        margin: 0 !important;
    }

    .nav_row1 {
        @include flex(space-between, end, row, none);
    }

    .nav_col1 {
        @include width(fit-content);
    }

    .nav_col3 {
        padding: 0;
        display: flex;

        ul {
            @include width(fit-content);
            padding: 0;
            margin: 0;
            @include margin(none, none, 20px, none);
        }
    }

    .golestan_tea_container2_col2 {
        @include flex(center, end, column, none);

        h1 {
            @include font(55px, none);
        }
    }

    .golestan_tea_container2_col1 {
        @include flex(center, start, column, none);
    }

    .golestan_tea_container2_row1 {
        @include flex(none, none, row-reverse, none);
    }
}

// ============================================ Page 2 ============================================

.after_nav2 {
    @include margin(170px, none, none, none);
}

.what_about_golestan_col2 {
    h1 {
        @include margin(20px, none, none, 10px);
        @include font(22px, 500);
        color: red;
    }

    p {
        @include margin(10px, none, none, 10px);
        @include font(18px, 400);
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }
}

.line_8 {
    @include margin(5px, auto, 0px, auto);
    @include width(100%);
    height: 1px;
    background-color: #828991;
}

.product1 {
    @include margin(150px, none, none, none);
    padding: 0px 16.125vw 0px 16.125vw;
}

.product1_col1 {
    @include flex(center, none, none, none);
}

.product1_col2 {
    @include flex(start, center, row, none);

    p {
        padding-top: 30px;
        margin: 0;
        @include margin(none, none, none, -20px);
        @include font(20px, 300);
        color: red;
    }
}

.product1_col3 {
    @include flex(space-between, none, column, none);

    img {
        @include width(50px);
        height: 45px;
    }

    p {
        @include margin(5px, none, 5px, none);
        @include font(18px, 900);
    }

    .grs1 {
        @include flex(end, none, none, none);

        img {
            @include margin(2px, 2px, 2px, 2px);
        }
    }
}

.product1_col4 {
    @include margin(19px, none, none, none);

    p {
        color: #94979A;
        @include font(19px, none);
    }
}


.product2 {
    padding: 0px 16.125vw 0px 16.125vw;
    @include margin(150px, none, none, none);
}

.product2_col1 {
    @include flex(center, none, none, none);
}

.product2_col2 {
    @include flex(start, center, row, none);

    p {
        padding-top: 30px;
        margin: 0;
        @include margin(none, none, none, -20px);
        @include font(20px, 300);
        color: red;
    }
}

.product2_col3 {
    @include flex(space-between, none, column, none);

    img {
        @include width(50px);
        height: 45px;
    }

    p {
        @include margin(5px, none, 5px, none);
        @include font(18px, 900);
    }

    .grs2 {
        @include flex(end, none, none, none);

        img {
            @include margin(2px, 2px, 2px, 2px);
        }
    }
}

.product2_col4 {
    @include margin(19px, none, none, none);

    p {
        color: #94979A;
        @include font(19px, none);
    }
}

.product3 {
    padding: 0px 16.125vw 0px 16.125vw;
    @include margin(150px, none, none, none);
}

.product3_col1 {
    @include flex(center, none, none, none);
}

.product3_col2 {
    @include flex(start, center, row, none);

    p {
        padding-top: 30px;
        margin: 0;
        @include margin(none, none, none, -20px);
        @include font(20px, 300);
        color: red;
    }
}

.product3_col3 {
    @include flex(space-between, none, column, none);

    img {
        @include width(50px);
        height: 45px;
    }

    p {
        @include margin(5px, none, 5px, none);
        @include font(18px, 600);
    }

    .grs3 {
        @include flex(end, none, none, none);

        img {
            @include margin(2px, 2px, 2px, 2px);
        }
    }
}

.product3_col4 {
    @include margin(19px, none, none, none);

    p {
        color: #94979A;
        @include font(19px, none);
    }
}

.product4 {
    padding: 0px 16.125vw 0px 16.125vw;
    @include margin(150px, none, none, none);
}

.product4_col1 {
    @include flex(center, none, none, none);
}

.product4_col2 {
    @include flex(start, center, row, none);

    p {
        padding-top: 30px;
        margin: 0;
        margin-left: 0px;
        @include font(20px, 300);
        color: red;
    }
}

.product4_col3 {
    @include flex(space-between, none, column, none);

    img {
        @include width(50px);
        height: 45px;
    }

    p {
        @include margin(5px, none, 5px, none);
        @include font(18px, 900);
    }

    .grs4 {
        @include flex(end, none, none, none);

        img {
            @include margin(2px, 2px, 2px, 2px);
        }
    }
}

.product4_col4 {
    @include margin(19px, none, none, none);

    p {
        color: #94979A;
        @include font(19px, none);
    }
}

.product5 {
    padding: 0px 16.125vw 0px 16.125vw;
    @include margin(150px, none, none, none);
}

.product5_col1 {
    @include flex(center, none, none, none);
}

.product5_col2 {
    @include flex(start, center, row, none);

    p {
        padding-top: 30px;
        margin: 0;
        margin-left: 0px;
        @include font(20px, 300);
        color: red;
    }
}

.product5_col3 {
    @include flex(space-between, none, column, none);

    img {
        @include width(50px);
        height: 45px;
    }

    p {
        @include margin(5px, none, 5px, none);
        @include font(18px, 900);
    }

    .grs5 {
        @include flex(end, none, none, none);

        img {
            @include margin(2px, 2px, 2px, 2px);
        }
    }
}

.product5_col4 {
    @include margin(19px, none, none, none);

    p {
        color: #94979A;
        @include font(19px, none);
    }
}

.golestan_footer_row2 {
    @include backgroundImg;
}

@media all and (min-width:768px) {
    .what_about_golestan_row1 {
        @include flex(center, none, none, none);
    }

    .golestan_tea_container2_col1 {
        @include flex(start, none, none, none);
    }

    .golestan_tea_container2_col2 {
        @include flex(none, end, none, none);
    }

    .product1_row1 {
        margin: 0;
    }

    .product1_row2 {
        @include flex(end, none, none, none);
        margin: 0;
    }

    .product1 {
        @include flex(center, none, none, none);
    }

    .product1_col3 {
        @include flex(none, none, row, none);

        p {
            @include width(50%);
        }

        .grs1 {
            @include width(50%);
        }
    }

    .line_8 {
        margin: 0;
    }

    .product2_row1 {
        margin: 0;
    }

    .product2_row2 {
        margin: 0;
    }

    .product2 {
        @include flex(center, none, none, none);
    }

    .product2_col3 {
        @include flex(none, none, row, none);

        p {
            @include width(50%);
        }

        .grs2 {
            @include width(50%);
        }
    }

    .product3_row1 {
        margin: 0;
    }

    .product3_row2 {
        margin: 0;
    }

    .product3 {
        @include flex(center, none, none, none);
    }

    .product3_col3 {
        @include flex(none, none, row, none);

        p {
            @include width(50%);
        }

        .grs3 {
            @include width(50%);
        }
    }

    .product4_row1 {
        margin: 0;
    }

    .product4_row2 {
        margin: 0;
    }

    .product4 {
        @include flex(center, none, none, none);
    }

    .product4_col3 {
        @include flex(none, none, row, none);

        p {
            @include width(50%);
        }

        .grs4 {
            @include width(50%);
        }
    }

    .product5_row1 {
        margin: 0;
    }

    .product5_row2 {
        margin: 0;
    }

    .product5 {
        @include flex(center, none, none, none);
    }

    .product5_col3 {
        @include flex(none, none, row, none);

        p {
            @include width(50%);
        }

        .grs5 {
            @include width(50%);
        }
    }

    .golestan_footer_col3 {
        p {
            @include width(90%);
            text-align: start;
        }
    }

    .golestan_footer_col4 {
        p {
            @include width(90%);
            text-align: start;
        }
    }

    .golestan_footer_col5 {
        p {
            @include width(90%);
            text-align: start;
        }
    }

    .golestan_footer_col6 {
        p {
            @include width(90%);
            text-align: start;
        }
    }

    .golestan_footer_row2 {
        @include backgroundImg;
        @include paddinglr(65px, 65px);
        justify-content: center;
    }
}