body{
    width: 100%;
    height: 3000px
}

.nav {
    width: 100%;
    background-image: url("../images/header-back-1.png");
    background-repeat: repeat;
    padding: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

.golestan_logo {
    width: 143px;
    height: 88px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.nav_row1 {
    padding: 0;
    width: 100%;
}

.nav_col1 {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav_dropdown {
    display: flex;
    justify-content: right;
}

.nav_dropdown_btn {
    border: 0;
    background-image: url("../images/header-back-1.png") !important;
    background-repeat: repeat;
    margin-right: 5px;
    padding-bottom: 0;
}

.nav_dropdown_btn_icon {
    font-size: 50px;
}

.nav_dropdown_menu {
    align-self: center;
    width: 100%;
    border: 0;
    background-image: url("../images/header-back-1.png") !important;
    background-repeat: repeat;
    padding-top: 15px;

    li {
        background-color: #2D2D2D;
        color: white;
        border: 0;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.golestan_tea_container{
    transform: translateY(181px);
    background-image: linear-gradient(to bottom , #FFFFFF , #D3D3D3);
}

.golestan_tea_container_col1{
    display: flex;
    justify-content: center;
}

.golestan_tea_container_col2{
    h1{
        font-size: 35px;
        font-weight: 400;
        color: red;
        margin-left: 25px;
    }
    p {
        font-size: 25px;
        font-weight: 400;
        margin-left: 23px;
        margin-bottom: 40px;
        color: #7C7D7E;
    }
}

.line_1{
    margin: 195px auto 0px auto;
    width: 95%;
    align-self: center;
    height: 1px;
    background-color: #D3D3D3;
}

.what_about_golestan_col1{
    h1{
        margin-top: 80px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
        color: red;
    }
    p{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }
}

.line_2{
    margin: 40px auto 0px auto;
    width: 95%;
    align-self: center;
    height: 1px;
    background-color: #D3D3D3;
}

.img-rice{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 25px;
    margin-left: 1px;
}

.image-rice{
    height: 241px;
}

.p-rice{
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 40px;
    direction: rtl;
    padding-right: 20px;
}


.rice_col1{
    h1{
        margin-top: 50px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
        color: red;
    }
    .rice_p1{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }
    .rice_p2{
        margin-top: 20px;
        margin-left: 5px;
        font-size: 16px;
        width: fit-content;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
    }
}

.img-tea{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 90px;
    margin-left: 1px;
}

.image-tea{
    height: 241px;
}

.p-tea{
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 40px;
    direction: rtl;
    padding-right: 20px;
}


.tea_col1{
    h1{
        margin-top: 50px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
        color: red;
    }
    .tea_p1{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }
    .tea_p2{
        margin-top: 20px;
        margin-left: 5px;
        font-size: 16px;
        width: fit-content;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
    }
}



.img-pistachios{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 1px;
}

.image-pistachios{
    height: 241px;
}

.p-pistachios{
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 40px;
    direction: rtl;
    padding-right: 20px;
}


.pistachios_col1{
    h1{
        margin-top: 50px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
        color: red;
    }
    .pistachios_p1{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }
    .pistachios_p2{
        margin-top: 20px;
        margin-left: 5px;
        font-size: 16px;
        width: fit-content;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
    }
}
