@import "main.scss";

body {
    width: 100%;
    height: 3000px
}

.nav {
    width: 100%;
    background-image: $bacground_image;
    background-repeat: $bacground_repeat;
    padding: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

.golestan_logo {
    width: 143px;
    height: 88px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.nav_row1 {
    padding: 0;
    width: 100%;
}

.nav_col1 {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_col2 {
    display: flex;
    align-items: end;
}

.nav_col3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style-type: none;
            margin-left: 20px;
            margin-right: 20px;
            color: #AFB2B4;
            font-size: 16px;
        }
    }
}

.nav_dropdown_btn_icon {
    font-size: 30px;
    color: white;
}

.golestan_tea_container {
    transform: translateY(181px);
    background-image: linear-gradient(to bottom, #FFFFFF, #D3D3D3);
}

.golestan_tea_container_col1 {
    display: flex;
    justify-content: center;
}

.golestan_tea_container_col2 {
    h1 {
        font-size: 35px;
        font-weight: 400;
        color: red;
        margin-left: 25px;
    }

    p {
        font-size: 25px;
        font-weight: 400;
        margin-left: 23px;
        margin-bottom: 40px;
        color: #7C7D7E;
    }
}

.line_1 {
    margin: 195px auto 0px auto;
    width: 95%;
    align-self: center;
    height: 1px;
    background-color: #D3D3D3;
}

.what_about_golestan_col1 {
    h1 {
        margin-top: 80px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
        color: red;
    }

    p {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }
}

.line_2 {
    margin: 40px auto 0px auto;
    width: 95%;
    align-self: center;
    height: 1px;
    background-color: #D3D3D3;
}

.img-rice {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 25px;
    margin-left: 1px;
}

.image-rice {
    height: 241px;
}

.p-rice {
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 40px;
    direction: rtl;
    padding-right: 20px;
}


.rice_col1 {
    h1 {
        margin-top: 50px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
        color: red;
    }

    .rice_p1 {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }

    .rice_p2 {
        margin-top: 20px;
        margin-left: 5px;
        font-size: 16px;
        width: fit-content;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
    }
}

.img-tea {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 90px;
    margin-left: 1px;
}

.image-tea {
    height: 241px;
}

.p-tea {
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 40px;
    direction: rtl;
    padding-right: 20px;
}


.tea_col1 {
    h1 {
        margin-top: 50px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
        color: red;
    }

    .tea_p1 {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }

    .tea_p2 {
        margin-top: 20px;
        margin-left: 5px;
        font-size: 16px;
        width: fit-content;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
    }
}



.img-pistachios {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 1px;
}

.image-pistachios {
    height: 241px;
}

.p-pistachios {
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 40px;
    direction: rtl;
    padding-right: 20px;
}


.pistachios_col1 {
    h1 {
        margin-top: 50px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
        color: red;
    }

    .pistachios_p1 {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }

    .pistachios_p2 {
        margin-top: 20px;
        margin-left: 5px;
        font-size: 16px;
        width: fit-content;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
    }
}


.golestan_social {
    background-color: #105153;
}

.golestan_social_col1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding-top: 250px;

    h6 {
        color: #009DA2;
        font-size: 30px;
        font-weight: 400;
        margin: 0;
    }

    p {
        color: #00D8DF;
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        margin-left: 5px;
    }
}

.line_3 {
    margin: 30px auto 0px auto;
    width: 100%;
    align-self: center;
    height: 1px;
    background-color: #07787C;
}

.golestan_social_col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.image-building {
    width: 395px;
    height: 344px;
    transform: translateY(70px);
}

.line_4 {
    width: 100%;
    align-self: center;
    height: 20px;
    background-color: #E9D69F;
}

.golestan_charitable_col1 {
    h1 {
        margin-top: 85px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
        color: red;
    }

    .golestan_charitable_p1 {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }

    .golestan_charitable_p2 {
        margin-top: 20px;
        margin-left: 5px;
        font-size: 16px;
        width: fit-content;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid #7C7D7E;
        border-radius: 10px;
        color: #7C7D7E;
    }
}

.golestan_footer_col1 {
    background-color: #EEEFEF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 65px;

    img {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.golestan_footer_col2 {
    padding: 0;

    .line_5 {
        width: 100%;
        align-self: center;
        height: 20px;
        background-color: #ED1C24;
    }
}

.golestan_footer_col3 {
    background-image: $bacground_image;
    background-repeat: $bacground_repeat;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        color: #828991;
        margin: 0px auto 0px auto;
    }

    .first_p1_p {
        margin: 30px auto 0px auto;
    }

    h6 {
        margin-top: 5px;
        margin-bottom: 8px;
        color: #ffffff;
    }
}

.line_6 {
    margin: 25px auto 0px auto;
    width: 95%;
    height: 1px;
    background-color: #828991;
}

.line_7 {
    margin: 0px auto 0px auto;
    width: 95%;
    height: 1px;
    background-color: #828991;
}

.golestan_footer_col4 {
    background-image: $bacground_image;
    background-repeat: $bacground_repeat;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        color: #BCBEC0;
        margin: 0px auto 0px auto;
    }

    .first_p1_p {
        margin: 30px auto 0px auto;
    }

    h6 {
        margin-top: 5px;
        margin-bottom: 8px;
        color: #ffffff;
    }
}

.golestan_footer_col5 {
    background-image: $bacground_image;
    background-repeat: $bacground_repeat;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        color: #BCBEC0;
        margin: 0px auto 0px auto;
    }

    .first_p1_p {
        margin: 30px auto 0px auto;
    }

    h6 {
        margin-top: 5px;
        margin-bottom: 8px;
        color: #ffffff;
    }
}

.golestan_footer_col6 {
    background-image: $bacground_image;
    background-repeat: $bacground_repeat;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        color: #BCBEC0;
        margin: 0px auto 0px auto;
    }

    .first_p1_p {
        margin: 30px auto 0px auto;
    }

    h6 {
        margin-top: 5px;
        margin-bottom: 8px;
        color: #ffffff;
    }
}


.golestan_footer_col7 {
    background-image: $bacground_image;
    background-repeat: $bacground_repeat;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .golestan_footer_col7_p1 {
        color: #9F9F9F;
        margin: 35px auto 0px auto;
    }

    .golestan_footer_col7_p2 {
        color: #7B7B7B;
        margin: 0px auto 0px auto;
        font-size: 14px;
        padding-bottom: 45px;
    }
}

@media all and (min-width:768px) {
    .golestan_tea_container_row1 {
        flex-direction: row-reverse;
    }

    .golestan_tea_container_col2 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 55px;
            font-weight: 400;
            color: red;
            margin-left: 65px;
        }

        p {
            font-size: 25px;
            font-weight: 400;
            margin-left: 63px;
            margin-bottom: 40px;
            color: #7C7D7E;
            text-align: start;
        }
    }
}


@media all and (min-width:992px) {
    .golestan_logo{
        transform: translateY(50px);
        margin-left: 20px;
    }
    .seprator{
        margin: 0 !important;
    }
    .nav_row1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
    .nav_col1{
        width: fit-content;
    }
    .nav_col3{
        padding: 0;
        display: flex;
        ul{
            width: fit-content;
            padding: 0;
            margin: 0;
            margin-bottom: 20px;
        }
    }
    .golestan_tea_container_col2{
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        h1{
            font-size: 55px;
        }
    }
    .golestan_tea_container_col1{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    .golestan_tea_container_row1{
        display: flex;
        flex-direction: row-reverse;
    }
}

// ====================== Page 2 ======================

.after_nav2 {
    margin-top: 170px;
}

.what_about_golestan_col2 {
    h1 {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
        color: red;
    }

    p {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #7C7D7E;
        text-align: justify;
        line-height: 32px;
    }
}

.line_8 {
    margin: 5px auto 0px auto;
    width: 100%;
    height: 1px;
    background-color: #828991;
}

.product1 {
    margin-top: 150px;
}

.product1_col1 {
    display: flex;
    justify-content: center;
}

.product1_col2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

    p {
        padding-top: 30px;
        margin: 0;
        margin-left: -20px;
        font-size: 20px;
        font-weight: 300;
        color: red;
    }
}

.product1_col3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 50px;
        height: 45px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 900;
    }

    .grs1 {
        display: flex;
        justify-content: end;

        img {
            margin: 2px;
        }
    }
}

.product1_col4 {
    margin-top: 19px;

    p {
        color: #94979A;
        font-size: 19px;
    }
}


.product2 {
    margin-top: 150px;
}

.product2_col1 {
    display: flex;
    justify-content: center;
}

.product2_col2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

    p {
        padding-top: 30px;
        margin: 0;
        margin-left: -20px;
        font-size: 20px;
        font-weight: 300;
        color: red;
    }
}

.product2_col3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 50px;
        height: 45px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 900;
    }

    .grs2 {
        display: flex;
        justify-content: end;

        img {
            margin: 2px;
        }
    }
}

.product2_col4 {
    margin-top: 19px;

    p {
        color: #94979A;
        font-size: 19px;
    }
}


.product3 {
    margin-top: 150px;
}

.product3_col1 {
    display: flex;
    justify-content: center;
}

.product3_col2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

    p {
        padding-top: 30px;
        margin: 0;
        margin-left: -20px;
        font-size: 20px;
        font-weight: 300;
        color: red;
    }
}

.product3_col3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 50px;
        height: 45px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 900;
    }

    .grs3 {
        display: flex;
        justify-content: end;

        img {
            margin: 2px;
        }
    }
}

.product3_col4 {
    margin-top: 19px;

    p {
        color: #94979A;
        font-size: 19px;
    }
}


.product4 {
    margin-top: 150px;
}

.product4_col1 {
    display: flex;
    justify-content: center;
}

.product4_col2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

    p {
        padding-top: 30px;
        margin: 0;
        margin-left: 0px;
        font-size: 20px;
        font-weight: 300;
        color: red;
    }
}

.product4_col3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 50px;
        height: 45px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 900;
    }

    .grs4 {
        display: flex;
        justify-content: end;

        img {
            margin: 2px;
        }
    }
}

.product4_col4 {
    margin-top: 19px;

    p {
        color: #94979A;
        font-size: 19px;
    }
}


.product5 {
    margin-top: 150px;
}

.product5_col1 {
    display: flex;
    justify-content: center;
}

.product5_col2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

    p {
        padding-top: 30px;
        margin: 0;
        margin-left: 0px;
        font-size: 20px;
        font-weight: 300;
        color: red;
    }
}

.product5_col3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 50px;
        height: 45px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 900;
    }

    .grs5 {
        display: flex;
        justify-content: end;

        img {
            margin: 2px;
        }
    }
}

.product5_col4 {
    margin-top: 19px;

    p {
        color: #94979A;
        font-size: 19px;
    }
}

.golestan_footer_row2 {
    background-image: url(../images/header-back-1.png);
    background-repeat: repeat;
}


@media all and (min-width:768px) {
    .what_about_golestan_row1 {
        display: flex;
        justify-content: center;
    }

    .golestan_tea_container_col1{
        display: flex;
        justify-content: start;
    }
    .golestan_tea_container_col2{
        display: flex;
        align-items: end;
    }

    .product1_row1 {
        margin: 0;
    }

    .product1_row2 {
        display: flex;
        justify-content: end;
        margin: 0;
    }

    .product1 {
        display: flex;
        justify-content: center;
    }

    .product1_col3 {
        display: flex;
        flex-direction: row;

        p {
            width: 50%;
        }

        .grs1 {
            width: 50%;
        }
    }

    .line_8 {
        margin: 0;
    }

    .product2_row1 {
        margin: 0;
    }

    .product2_row2 {
        margin: 0;
    }

    .product2 {
        display: flex;
        justify-content: center;
    }

    .product2_col3 {
        display: flex;
        flex-direction: row;

        p {
            width: 50%;
        }

        .grs2 {
            width: 50%;
        }
    }

    .product3_row1 {
        margin: 0;
    }

    .product3_row2 {
        margin: 0;
    }

    .product3 {
        display: flex;
        justify-content: center;
    }

    .product3_col3 {
        display: flex;
        flex-direction: row;

        p {
            width: 50%;
        }

        .grs3 {
            width: 50%;
        }
    }

    .product4_row1 {
        margin: 0;
    }

    .product4_row2 {
        margin: 0;
    }

    .product4 {
        display: flex;
        justify-content: center;
    }

    .product4_col3 {
        display: flex;
        flex-direction: row;

        p {
            width: 50%;
        }

        .grs4 {
            width: 50%;
        }
    }

    .product5_row1 {
        margin: 0;
    }

    .product5_row2 {
        margin: 0;
    }

    .product5 {
        display: flex;
        justify-content: center;
    }

    .product5_col3 {
        display: flex;
        flex-direction: row;

        p {
            width: 50%;
        }

        .grs5 {
            width: 50%;
        }
    }

    .golestan_footer_col3 {
        p {
            width: 90%;
            text-align: start;
        }
    }

    .golestan_footer_col4 {
        p {
            width: 90%;
            text-align: start;
        }
    }

    .golestan_footer_col5 {
        p {
            width: 90%;
            text-align: start;
        }
    }

    .golestan_footer_col6 {
        p {
            width: 90%;
            text-align: start;
        }
    }

    .golestan_footer_row2 {
        background-image: url(../images/header-back-1.png);
        background-repeat: repeat;
        padding-right: 65px;
        padding-left: 65px;
        justify-content: center;
    }
}